body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
overflow-y:hidden;
}

h1{
  text-align: center;
}

.form-container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form{
  background-color: #f8ecec;
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 10px 9px 27px 0px #100f0f;
border-radius: 22px;
}

.uiForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}


.formField{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formField input{
  border: 1px solid gray;
  padding: 20px;
  border-radius: 4px;
}

.formField input:focus{
  outline: none;
}

.formField label{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

button{
  background-color: #0083ff;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover{
  background-color: #0061ff;
}


.errorMessage{
  color: red;
  margin: 0;
  align-self: flex-start  ;
}